body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    font-family: "poppins", sans-serif;
}
svg {
  width: 100%;
  height: auto;
  display: block;
}
path {
  fill: #2d2d2d;
  stroke: #000000;
  stroke-width: 2;
  stroke-linejoin: round;
  transition: all 0.2s, stroke-width 0.2s;
  transform-box: fill-box;
  transform-origin: center;
}
path:hover {
  stroke-width: 3;
  cursor: pointer;
}
.highlight {
  fill: #d81e1e !important;
}
.container {
  position: relative;
  width: 75vw;
  height: auto;
  margin-top: 2vh;
}
.infoCenter {
  position: relative;
  width: 25vw;
  height: 100vh;
  border-left: 3px solid #6e6e6e;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoCenter:hover {
  border-left: 3px solid#6e94fc;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}
.leftStack {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100vh;  
}
.inputContainer {
  width: 75vw;
  height: 20vh;
  margin-top: 7vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  width: 90%;
  height: 50%;
  font-size: 3rem;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: black;
  color: white;
  border-bottom: 3px solid #2b2b2b;
  transition: all 0.3s ease-in-out;
}
.input:focus {
  border-bottom: 3px solid #6e94fc;
}
.activeCountry {
  fill: #1ed85f !important;
}
.countryTitle {
  color: #6e94fc;
  text-align: center;
  font-size: 3rem;
}
.hovering {
  color: #d81e1e;
}
.info {
  color: white;
  white-space: pre-line;
  text-align: center;
  font-size: 1.3rem;
}
.btn-1 {
  text-align: center;
  position: relative;
  width: 50%;
  height: 7vh;
  border-radius: 50px;
  background-color: #000000;
  outline: none;
  border: 4px solid #6e94fc;
  color: #6e94fc;
  font-size: 1.25rem;
  transition: all 0.3s;
}
.btn-1:hover {
  cursor: pointer;
  box-shadow: 0 0 200px 10px #6e94fc;
  color: black;
  background-color: #6e94fc;
  transform: scale(1.05);
}